#portfolio{
    /* height: 100vh; */
    width: 100%;
    /* display: flex; */
    /* display: grid; */
   justify-content: center;


    /* grid-template-rows: 1fr 5fr  ; */
    animation: animateBg 5s linear infinite ;
    z-index: -120;
}

.mom{
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
@keyframes animateBg 
{
100%{
    filter: hue-rotate(360deg);
}    
}
.head{
    display: flex;
    justify-content: center;
    color:#7373eb ;
    /* margin-left: 15rem; */
     
}

.border{
    margin-top: 5rem;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: black;
    height:25rem ;
    width: 12rem;
    box-shadow: 0px 0px 15px;
    display: flex;
    justify-content: center;


}
.card1{
    /* border: 5px soloid black; */
    border-radius: 2rem;
    height:26rem;
    width: 10rem;
    margin-top: 1rem;
    text-align: center;
     
    /* transform: rotate(-3deg); */
    transition: var(--transition);
    animation: animateBg 5s linear infinite ;
}
.bike{
    margin-top: 15px;
}


.god{
    height: 19rem;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
    border-radius:1rem;

}
@keyframes animateBg 
{
100%{
    filter: hue-rotate(360deg);
}    
}
.login:hover{
    transform: 0;
}
.card>.login:hover{
   height: 15rem;
   width: 15rem;
   display: flex;
   margin-top: 5rem;
   grid-template-columns: repeat(3,1fr);
}


@media screen and (max-width:600px) {

    #portfolio{
        display: grid; 
        width: 100%;
    }
    .head{
        margin-left:-12rem;
        text-align: center;
    }
    .mom{
        display: grid;  
        grid-template-columns: 1fr 1fr ;
        place-items: center;
        gap:1.5rem;
        /* text-align: center; */
        /* gap: 2rem; */
        /* place-items: center; */
        /* margin-left: 2rem; */
    }
    .car{
        text-align: center;
    }
    .border{
        height: 22rem;
        width: 10rem;
        /* padding:2rem; */
    }
    .god{
        height: 16rem;
        width: 9.5rem;
        padding:0.5rem;
    }




   
}